header{
	font-size: 30px;
	padding: 20px;
	font-family:しねきゃぷしょん;
	background-color:khaki;
}
body{
	background-color: papayawhip;
}
h1{
	padding:50px 0 20px 30px;
}
.intro{
	padding:0 60px 0 60px;
	font-family: 游明朝;
	font-size: 30px;
}
footer{
	font-size: 25px;
	text-align: right;
	font-family: しねきゃぷしょん;
	padding-top: 50px;
	padding-right: 60px;
}
